name: Docker Build & Push (GHCR)

on:
  workflow_dispatch:

jobs:
  build:
    # Run ONLY on the official upstream repo
    if: github.repository_owner == 'ps-updates' && github.repository == 'ps-updates/PS-LinkVault'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/ps-updates/ps-linkvault:latest
